
//Variables 
$primary-Color:#007bff;
$secundary-color: #0069d9;
$tertiary-color: #fff;
$margintop-one: 50px; 
$padding-one: 10px;



h1 {
  text-align: center;
  font-size: 36px;
  margin-top: $margintop-one;  //Uso de variable 
} 

.peliculas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $margintop-one; //Uso de variable 
}

.pelicula{
  width: 300px;
  background-color: $tertiary-color; //Uso de variable 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;

}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.anio {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 0;
}

.card-img-top {
  max-height: 350px;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.list-inline-item {
  margin-right: 1rem;
}

.d-flex {
  width: 350px;
  margin: 10px;
  text-align: center;
}

img {
  transition: transform 0.5s ease; 
}

img:hover {
  transform: scale(1.2);
 }


/* Estilos para el contenedor principal */
#contendor {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
width: 100%;
padding: $padding-one;
border-radius: 5px;
border: 1px solid #ccc;
margin-bottom: 20px;
}

//Anidación de selectores.
button {
  background-color: #{$primary-Color}; //Uso de variable 
  color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer; 

    &:hover{
      background-color: $secundary-color;    //uso de variblae y anidación 
    }
}


#mensajes {
  margin-top: 20px;
}

.alert {
  padding: $padding-one; //Uso de variable 
  border-radius: 5px;
  margin-bottom: 10px;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: $primary-Color;  //Uso de variable 
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: $secundary-color;  //Uso de variable 
}

//Anidación de selectores
#contenedor-comentarios {
  margin: 20px auto;
  max-width: 600px;

  .comentario{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: $padding-one; //Uso de variable 
    margin-bottom: 20px; 
  }
}

.title-comentarios{
  text-align: center;
  color: #020202;
  text-shadow: 2px 2px 5px gray
} 

